body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 137px;
  margin-bottom: 40px;
}

#imagem {
  float: left;
  margin-right: 200px;
  max-width: 130px;
}

#botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.botao {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0077FF;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 10px;

}

.botao:hover {
  background-color: #0059B3;
}

.carousel-inner {
  height: 500px;
}